/* Matteo Angiolillo 4°H 2025-02-14 Realizzare un sito curriculum */

body {
    margin: 0; 
    padding: 0;
    background-color: #131010;
    background-image: url('https://i.redd.it/yeue3ydrqc1c1.gif');
    color: #F2EFE7;
    font-family: monospace;
    text-shadow: 1px 1px 1px #23486A;
    justify-content: center;
}

/* Per i link */
a{
    text-decoration: none;
    color: #F2EFE7;
}

/* Per i link */
a:hover{
    text-decoration: underline;
}


/* per index */
.intro{
    display: inline-block;
    background-color: rgb(107, 201, 218);
    padding: 1% 6%;
    max-width: fit-content;
    text-align: center;
    box-shadow: 5px 5px 8px #23486A;
    margin-top: 180px;
}

.other-pages{
    display: flex;
    justify-content: center;
    max-width: none;
    padding: 10px;  
    
}

.element{
    display: inline-block;
    max-width: fit-content;
    margin: 0px 10px;
    padding: 10px;  
    
}

/* tabella scuola */
.row {
    display: flex;
    padding: 10px;
    width: 100%;
    height: inherit;
    justify-content: center;
}

.container {    
    display: flex;
    margin-top: 110px;
    width: 100%;
    height: 100%;
    justify-content: center;

}

.main-article {
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(107, 201, 218);
    box-shadow: 5px 5px 8px #23486A;
}

span.title {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    font-size: x-large;
    font-weight: bold;
    font-family: "Times New Roman";
}

table {
    border: 1px solid #F2EFE7;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    margin-bottom: 5px;
}

th.ora {
    border-right: 1px solid #F2EFE7;
    padding: 5px;
}

th.giorno {
    border-bottom: 1px solid #F2EFE7;
    padding: 5px;
}

td {
    text-align: center;
    padding: 5px;
    border: 1px solid #F2EFE7;
}


.description {
    grid-area: description;
    width: 25%;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'interest description interest description'
    'interest description interest description';
    
}

/* Lavoro */

.lavoro{
    display: inline-block;
    background-color: rgb(107, 201, 218);
    padding: 1% 1.5%;
    max-width: fit-content;
    text-align: left;
    box-shadow: 5px 5px 8px #23486A;
    margin-top: 130px;
    justify-content: center;
}

.lavoro h1{
    display: inline-block; 
    position: relative;
    left: 330px;
    
}

footer {
    position: absolute;
    text-align: center;    
    background-color: rgb(107, 201, 218);
    color: rgb(221, 221, 221);
    padding: 3px;
    bottom: 0;
    width: 99.7%;
  } 

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(107, 201, 218);
    justify-content: center;
  }
  
.nav li {
    float: left;
  }
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 24px;
    text-decoration: none;
  }
  
/* cambia colore quando sopra cursore */

.nav li a:hover {
    background-color: #23486A;
  }

/* Interessi */

.div-int{
    display: inline-block;
    margin: 10px;
    width: fit-content;
    text-align: left;
    align-items: center;
    height: fit-content;
    
}
.cont-int{
    display: inline-block;
    background-color: rgb(107, 201, 218);
    padding: 1% 2%;
    width: auto;
    text-align: center;
    box-shadow: 5px 5px 8px #23486A;
    margin-top: 40px;
}
.single-int{
    display:block;
    height: fit-content;
}

/* hobby */

#hobby-lett{
    display: inline-block;
    position: relative;
    top: -40px;
    text-align: left;
    padding: 40px;
    padding-bottom: 0px;
}